body {

    background-color: rgb(26, 26, 26);
}

/* PHA5E animation */
#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
    stroke-dasharray: 627px;
    stroke-dashoffset: 627px;
    animation: line-animate 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 587px;
    stroke-dashoffset: 587px;
    animation: line-animate 2s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 596px;
    stroke-dashoffset: 596px;
    animation: line-animate 2s ease forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 668px;
    stroke-dashoffset: 668px;
    animation: line-animate 2s ease forwards;
}

#logo path:nth-child(5) {
    stroke-dasharray: 627px;
    stroke-dashoffset: 627px;
    animation: line-animate 3s ease forwards;
}

@keyframes line-animate {
    to {
        stroke-dashoffset: 0px;
    }
}


#home-text div:hover {
    color: transparent;
    -webkit-text-stroke: 1px rgb(111, 109, 109);

}

#img-1:hover {
    cursor: pointer;
    transform: translate(-200px, +200px) scale(1.2);
    display: block;
    transform-origin: top right;

}

#img-2:hover {
    cursor: pointer;
    transform: translate(+200px, +100px) scale(1.2);
    display: block;
    transform-origin: top right;

}

#img-3:hover {
    cursor: pointer;
    transform: translate(-200px, -200px) scale(1.2);
    display: block;
    transform-origin: top right;

}

#img-4:hover {
    cursor: pointer;
    transform: translate(200px, -200px) scale(1.2);
    display: block;
    transform-origin: top right;

}

img {
    transition: transform 3s;
    animation: animate;
    animation-timing-function: ease-out;
    animation-duration: 2s;

}

@keyframes animate {
    0% {
        transform: scale(0.6);
        opacity: 0.5;
    }


    50% {
        transform: scale(0.8);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

/* Quto Text */
#quto-text-1 {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);

}

#quto-text-2 {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);

}

#quto-text-3 {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

}

#quto-text-4 {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
}

#quto-text-5 {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);

}

.add-zIndex-to-svg-quto {
    z-index: 2
}

.add-style-img-event {
    opacity: 0.0;

}

.add-style-img-event-border {
    border: 2px solid rgb(95, 94, 94);
    z-index: 2;
}

section {
    display: none;
}


.path {
    fill: none;
    stroke-dasharray: 627px;
    stroke: rgb(91, 91, 91);
    stroke-width: 2px;

}